# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests as rq
import json
import gmaps
import os

from pprint import pprint

# Import API key
from api_keys import g_key, weather_api_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data_df = pd.read_csv('../output_data/cities.csv', encoding='utf-8', index_col="City_ID")
city_data_df.head()

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
City_ID,,,,,,,,,
0,Sitka,US,1601340918,57.05,-135.33,13.00,71,75,3.60
1,Chapayevka,UA,1601340919,47.47,36.35,16.72,55,100,6.55
2,Saint Paul Harbor,US,1601340919,57.79,-152.41,13.00,50,1,5.70
3,Bluff,NZ,1601340919,-46.60,168.33,3.89,69,99,8.94
4,Vaini,TO,1601340919,-21.20,-175.20,26.00,78,75,4.10

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# configure gmaps
gmaps.configure(api_key=g_key)

# store latitude and longtitude in locations
locations = city_data_df[['Lat','Lng']] 

# convert values to float
humidity = city_data_df['Humidity'].astype(float)

In [4]:
# plot heatmap
fig = gmaps.figure(center=(15, 2), zoom_level=1.3)

# create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=10,
                                                               point_radius=1)
# add layer
fig.add_layer(heat_layer)

# display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# define a good weather conditions for vacation trip
# max temperature is 26 Celsius.
# Humidity level is lower than 55%
# Wind speed is below 15mph

goodweather_cond_df = city_data_df.loc[(city_data_df['Max Temp'] <= 80) & (city_data_df['Humidity'] < 65) &
                                      (city_data_df['Wind Speed'] < 15)] # to change Max Temp to <=22

goodweather_cond_df.reset_index(drop=True).dropna()
goodweather_cond_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
City_ID,,,,,,,,,
1,Chapayevka,UA,1601340919,47.47,36.35,16.72,55,100,6.55
2,Saint Paul Harbor,US,1601340919,57.79,-152.41,13.00,50,1,5.70
10,Jamestown,US,1601340921,42.10,-79.24,21.67,64,20,4.60
11,Novikovo,RU,1601340921,51.15,37.89,12.58,41,100,5.03
19,Tieling,CN,1601340923,42.29,123.84,13.32,63,100,3.92
...,...,...,...,...,...,...,...,...,...
454,Revelstoke,CA,1601341046,50.98,-118.20,17.00,63,1,2.10
458,Portland,US,1601341011,45.52,-122.68,28.89,34,0,4.10
470,Jiménez,MX,1601341051,28.33,-105.40,24.00,31,5,5.10
471,Laguna,US,1601341051,38.42,-121.42,38.00,8,1,3.60
478,Maţāy,EG,1601341053,28.42,30.78,27.44,33,0,7.04

In [6]:
hotel_df = goodweather_cond_df[['City','Country','Lat','Lng']].copy()
hotel_df['Hotel Name'] = np.nan
hotel_df.head()

                      City Country    Lat     Lng  Hotel Name
City_ID
1               Chapayevka      UA  47.47   36.35         NaN
2        Saint Paul Harbor      US  57.79 -152.41         NaN
10               Jamestown      US  42.10  -79.24         NaN
11                Novikovo      RU  51.15   37.89         NaN
19                 Tieling      CN  42.29  123.84         NaN

In [7]:
# define target search

target_search = "hotel"
radius = 5000

# set parameters for search
params = {"keyword": target_search,
    "radius": radius,
    "key": g_key}

# assign url
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [8]:
# looping to acquire hotel name

for index, row in hotel_df.iterrows():
    
    # storing coordinates in params
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # request the API to find hotel in each city qualified the good weather conditions
    print(f"Retrieving Results for Index {index}...")
    
    response = rq.get(url, params=params).json()
    
    # apply exception to avoid system error
    try:
        hotel_name = response['results'][0]['name']
        hotel_df.loc[index, 'Hotel Name'] = hotel_name
        print(f" Found {hotel_name} in {row['City']}")
                 
    except:
        print(f" Skipping as there is no hotel found in '{row['City']}")

Retrieving Results for Index 1...
 Skipping as there is no hotel found in 'Chapayevka
Retrieving Results for Index 2...
 Found Best Western Kodiak Inn and Convention Center in Saint Paul Harbor
Retrieving Results for Index 10...
 Found Motel in Jamestown
Retrieving Results for Index 11...
 Skipping as there is no hotel found in 'Novikovo
Retrieving Results for Index 19...
 Found Tieyuan Hotel in Tieling
Retrieving Results for Index 23...
 Found Pacific Harbour Lodge in Kaeo
Retrieving Results for Index 30...
 Found Tynwald Willow Bend Estate in New Norfolk
Retrieving Results for Index 44...
 Found The Lost Camel Hotel - Ayers Rock Resort in Yulara
Retrieving Results for Index 51...
 Skipping as there is no hotel found in 'General Escobedo
Retrieving Results for Index 56...
 Found Hotel Royal Tocopilla in Tocopilla
Retrieving Results for Index 57...
 Found Hotel Ilaia in Punta Arenas
Retrieving Results for Index 58...
 Found Welk Resorts Cabo San Lucas - Sirena del Mar in Cabo San Lucas
Retrieving Results for Index 63...
 Found InterContinental Adelaide in Adelaide
Retrieving Results for Index 67...
 Found Walkabout Lodge & Tavern in Nhulunbuy
Retrieving Results for Index 70...
 Found Portside Hotel - Heritage Collection in Gisborne
Retrieving Results for Index 71...
 Found Cassowary Hotel in Kiunga
Retrieving Results for Index 75...
 Found Oaks Hervey Bay Resort and Spa in Hervey Bay
Retrieving Results for Index 76...
 Found 別邸 海と森 in Hasaki
Retrieving Results for Index 82...
 Found هتل و رستوران قصر in Iranshahr
Retrieving Results for Index 84...
 Found Buudai Hotel in Darhan
Retrieving Results for Index 88...
 Skipping as there is no hotel found in 'Najrān
Retrieving Results for Index 93...
 Found ファミリーロッジ旅籠屋・長門店 in Nagato
Retrieving Results for Index 94...
 Found Hilton Garden Inn Rochester/University & Medical Center in Monroe
Retrieving Results for Index 96...
 Found Itty Bitty Inn in North Bend
Retrieving Results for Index 99...
 Skipping as there is no hotel found in 'Kutum
Retrieving Results for Index 103...
 Found Tarumã Tropical Hotel in Conceição do Araguaia
Retrieving Results for Index 109...
 Found BIG4 Howard Springs Holiday Park in Howard Springs
Retrieving Results for Index 116...
 Found HH 820 Accomodation in Grootfontein
Retrieving Results for Index 119...
 Skipping as there is no hotel found in 'Hīt
Retrieving Results for Index 123...
 Found Majestic Oasis Apartments in Port Augusta
Retrieving Results for Index 124...
 Skipping as there is no hotel found in 'Faya
Retrieving Results for Index 135...
 Found SpringHill Suites by Marriott St. George Washington in Saint George
Retrieving Results for Index 137...
 Found Splash Guest House in Katsuura
Retrieving Results for Index 140...
 Found Hilton Garden Inn Kauai Wailua Bay in Kapaa
Retrieving Results for Index 147...
 Found Premier Hotels & Resorts in East London
Retrieving Results for Index 148...
 Found Kuruman Inn by Country Hotels in Kuruman
Retrieving Results for Index 149...
 Skipping as there is no hotel found in 'Tessalit
Retrieving Results for Index 154...
 Found Sberbank Rossii in Srednekolymsk
Retrieving Results for Index 161...
 Found LÜDERITZ NEST HOTEL in Lüderitz
Retrieving Results for Index 163...
 Skipping as there is no hotel found in 'Nuevo Progreso
Retrieving Results for Index 166...
 Skipping as there is no hotel found in 'Águas Vermelhas
Retrieving Results for Index 167...
 Found Palissandre Cote Ouest resort & SPA in Morondava
Retrieving Results for Index 174...
 Found The Huts in Ahipara
Retrieving Results for Index 176...
 Found Nebitchi Hotel in Balkanabat
Retrieving Results for Index 179...
 Skipping as there is no hotel found in 'Wahiawā
Retrieving Results for Index 181...
 Found Sberbank Rossii in Beringovskiy
Retrieving Results for Index 182...
 Found Odar kanawal in Atar
Retrieving Results for Index 183...
 Found JinJiang International Hotel Urumqi in Ürümqi
Retrieving Results for Index 192...
 Found Best Western Plus Chena River Lodge in Fairbanks
Retrieving Results for Index 197...
 Found HOTEL VIANA in Jacareacanga
Retrieving Results for Index 200...
 Found Crowne Plaza Hobart in Hobart
Retrieving Results for Index 202...
 Found Best Western Plus The Ranges Karratha in Karratha
Retrieving Results for Index 214...
 Found Dolce Vita апарт-отель in Svobodnyy
Retrieving Results for Index 216...
 Found Steamboat Grand in Steamboat Springs
Retrieving Results for Index 220...
 Skipping as there is no hotel found in 'Taoudenni
Retrieving Results for Index 223...
 Skipping as there is no hotel found in 'Adrar
Retrieving Results for Index 226...
 Skipping as there is no hotel found in 'Khudumelapye
Retrieving Results for Index 230...
 Found HOTEL PLAZA MATAMOROS in Matamoros
Retrieving Results for Index 239...
 Found Sails Port Macquarie by Rydges in Port Macquarie
Retrieving Results for Index 241...
 Skipping as there is no hotel found in 'Bukachacha
Retrieving Results for Index 244...
 Found Latitude20 Roebourne Village in Roebourne
Retrieving Results for Index 250...
 Found Rydges Newcastle in Newcastle
Retrieving Results for Index 251...
 Found Mövenpick Hotel Qassim in Buraidah
Retrieving Results for Index 263...
 Found Меҳмонхона СУҒД in Ayní
Retrieving Results for Index 265...
 Found Genhe Hotel in Genhe
Retrieving Results for Index 271...
 Found Willow House Hotel in College
Retrieving Results for Index 282...
 Found Elements Of Byron Resort & Spa in Byron Bay
Retrieving Results for Index 285...
 Skipping as there is no hotel found in 'Marzuq
Retrieving Results for Index 288...
 Found ibis Styles Mt Isa Verona in Mount Isa
Retrieving Results for Index 290...
 Found Hotel Prudentao in Bastos
Retrieving Results for Index 292...
 Found The Esplanade Hotel in Port Hedland
Retrieving Results for Index 296...
 Found Hotel Davimar in Guamúchil
Retrieving Results for Index 298...
 Found Commodore on the Park in Mount Gambier
Retrieving Results for Index 302...
 Found Abigaile's Treehouse Bed and Breakfast in Bryan
Retrieving Results for Index 303...
 Found Swiss-Belinn Hotel Luwuk in Luwuk
Retrieving Results for Index 305...
 Found Cantinho do Ceu Hotel in Acopiara
Retrieving Results for Index 309...
 Found Hotel Restaurant Allmer in Weiz
Retrieving Results for Index 310...
 Found Best Western Gold Rush Inn in Whitehorse
Retrieving Results for Index 311...
 Found Opuwo Country Lodge in Opuwo
Retrieving Results for Index 312...
 Found Westland Hotel Motel in Whyalla
Retrieving Results for Index 315...
 Found Taj on Byrnes Mareeba Luxury Accommodation in Mareeba
Retrieving Results for Index 326...
 Skipping as there is no hotel found in 'Elko
Retrieving Results for Index 327...
 Found The Explorer Hotel in Yellowknife
Retrieving Results for Index 329...
 Found Bannisters Pavilion Rooftop Bar & Grill in Ulladulla
Retrieving Results for Index 332...
 Found Shayegan Hotel in Baft
Retrieving Results for Index 333...
 Found Tropical Palace Hotel in Piranhas
Retrieving Results for Index 340...
 Skipping as there is no hotel found in 'Kul'dur
Retrieving Results for Index 342...
 Skipping as there is no hotel found in 'Airai
Retrieving Results for Index 351...
 Found Spring Resort Lodge in Karoi
Retrieving Results for Index 354...
 Found Rosewood Mansion on Turtle Creek in Dallas
Retrieving Results for Index 357...
 Found Swiss Belhotel Manokwari in Manokwari
Retrieving Results for Index 359...
 Found Hotel Arctic in Ilulissat
Retrieving Results for Index 361...
 Found Hampton Inn & Suites Green River in Green River
Retrieving Results for Index 363...
 Found Profilaktoriy Baes in Bilibino
Retrieving Results for Index 364...
 Found Hotel Pasambay in Rivadavia
Retrieving Results for Index 377...
 Found Villa Lattanzi in Porto San Giorgio
Retrieving Results for Index 382...
 Skipping as there is no hotel found in 'Aripuanã
Retrieving Results for Index 390...
 Found DoubleTree by Hilton Hotel Alice Springs in Alice Springs
Retrieving Results for Index 396...
 Found Erringhi Hotel in Clarence Town
Retrieving Results for Index 397...
 Skipping as there is no hotel found in 'Umm Kaddadah
Retrieving Results for Index 401...
 Found Floresta Amazonica Hotel in Alta Floresta
Retrieving Results for Index 402...

 Found Courtyard by Marriott Cedar City in Cedar City
Retrieving Results for Index 408...
 Found Pudong Holiday Hotel in Aksu
Retrieving Results for Index 410...
 Found PSO Petrol Pump in Rojhan
Retrieving Results for Index 418...
 Found Hampton Inn & Suites Hope in Hope
Retrieving Results for Index 422...
 Skipping as there is no hotel found in 'Qasigiannguit
Retrieving Results for Index 426...
 Found Riviera Motel in Bundaberg
Retrieving Results for Index 430...
 Found The Lodge at Riverside in Grants Pass
Retrieving Results for Index 432...
 Found Station on the Riverwalk in Pueblo
Retrieving Results for Index 436...
 Found Posadas Lo De Manuel, Paso de Patria Ñeembucú in Paso de Patria
Retrieving Results for Index 442...
 Found Azadi Hotel in Kūhdasht
Retrieving Results for Index 444...
 Found Ashton Motel (free light breakfast) in Tumut
Retrieving Results for Index 445...
 Found Zoofari Lodge in Dubbo
Retrieving Results for Index 448...
 Found Hotel Mapuera in Oriximiná
Retrieving Results for Index 449...
 Found Hotel American Plaza in Curuguaty
Retrieving Results for Index 450...
 Found Hotel Pedregulho in Pedregulho
Retrieving Results for Index 452...
 Found Hotel Grand Papua Nabire in Nabire
Retrieving Results for Index 454...
 Found The Explorers Society Hotel in Revelstoke
Retrieving Results for Index 458...
 Found DoubleTree by Hilton Hotel Portland in Portland
Retrieving Results for Index 470...
 Skipping as there is no hotel found in 'Jiménez
Retrieving Results for Index 471...
 Found Hilton Garden Inn Sacramento Elk Grove in Laguna
Retrieving Results for Index 478...
 Found Barista in Maţāy

In [9]:
# drop null value in the hotel data
hotel_df.dropna(how="any",inplace=True)

# reset index
hotel_df.reset_index(drop=True, inplace=True)

hotel_df.head()

,City,Country,Lat,Lng,Hotel Name
0,Saint Paul Harbor,US,57.79,-152.41,Best Western Kodiak Inn and Convention Center
1,Jamestown,US,42.10,-79.24,Motel
2,Tieling,CN,42.29,123.84,Tieyuan Hotel
3,Kaeo,NZ,-35.10,173.78,Pacific Harbour Lodge
4,New Norfolk,AU,-42.78,147.06,Tynwald Willow Bend Estate

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))